@import 'bootstrap-reboot.min.scss';
@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/education';
@import 'blocks/experience';
@import 'blocks/technical__skills';
@import 'blocks/soft__skills';
@import 'blocks/portfolio';
@import 'blocks/language__skills';
@import 'blocks/inspiration';
@import 'blocks/footer';
@import 'blocks/aditions';
@import 'modals/contact';
@import 'modals/inspirations';

@import url('fonts/consolas.ttf');


.container {
    width: 1620px;
    margin: 0 auto;
}


@media ( max-width: 1800px) {
    .container {
        max-width: 1600px;
    }

}

@media ( max-width: 1600px) {
    .container {
        max-width: 1400px;
    }
  

    }

@media ( max-width: 1440px) {
    .container {
        max-width: 1300px;
    }

    }

    @media ( max-width: 1200px) {
        .container {
            max-width: 1000px;
        }
    
    }

    @media ( max-width: 1024px) {
        .container {
            max-width: 900px;
            
        }
       .header__wraper  {
        padding-left: 0;
       }
       .inspiration {
        padding-top: 0;
       }
    }

    @media ( max-width: 900px) {
        .container {
            max-width: 800px;
        }
    
        }

    @media ( max-width: 800px) {
        .container {
            max-width: 700px;
        }
    
        }

        @media ( max-width: 600px) {
            .container {
                max-width: 500px;
            }
            .promo {
                padding-bottom: 0;
                height: 1000px;
            }
            .education {
                padding-bottom: 50px;
            }
            .experience {
                padding-bottom: 0;
            }
            .technical__skills {
                padding-bottom: 50px;
            }
            .language__skills {
                padding: 0;
            }
            .portfolio {
                padding-bottom: 0;
                padding-top: 0; 
            }
            .inspiration {
                padding-bottom: 0;
                padding-top: 50px;
            }
        
        }
            @media ( max-width: 500px) {
                .container {
                    max-width: 80%; 
                }
            
            }

            @media ( max-width: 425px) {
                .container {
                    width: 300px;
                }
            }

            // @media ( max-width: 375px) {
            //     .container {
            //         width: 300px;
            //     }
            // }

           