.education {
    background-color: #222222;
    // padding-top: 50px;
    padding-bottom: 190px;


    .container {
       
        width: 1590px;

        
    }



  


   

    .education__title__main {
        padding-top: 150px;
        margin: 0 auto;
        text-align: center;
        &__top {
            font-family: 'Imbue', serif;
            font-weight: 900;
            font-size: 80px;
            line-height: 22px;
            text-align: center;
            color: #33335B;
            transform: translateX(-40px);
        }
        &__bottom{
            font-family: 'Inter', sans-serif;
            font-weight: 900;
            font-size: 100px;
            line-height: 120px;
            text-align: center;

            color: #33335B;
            text-transform: uppercase;
        }


    }
 
    .education__content {
     
        // display: flex;
        // justify-content: space-around;
        flex-direction: column;
        // margin: 0 50px;
        margin-top: 70px;
        .education__item {
            display: flex;
            width: 200%;

            position: relative;
            // width: 200px;
            min-height: 365px;
            background-color: #222222; 
            padding: 10px; 
            margin: 10px;

            box-shadow: 0px 4px 20px rgb(0, 0, 0);
            &:hover {
                box-shadow: 0px 4px 20px rgb(78, 78, 78);

            }
            .education__item__side {
                position: absolute;
                bottom: 10px;
                top: 10px;
                left: 10px;
                right: 10px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                border: 1px solid rgba(242, 238, 224, 1);
            }
            .education__item__side_hide {
                display: none;
            }
                
             
            .education__item__title {
                padding: 22px 16px 12px 18px;
                display: flex;
                flex-direction: column;
                align-items: center;
                .title__img {
                    // width: 100px;
                    height: 100px;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                .title__desc {
                    margin-top: 13px;
                    font-family: 'Inter', sans-serif;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 20px; 
                    text-align: center;            
                    color: #F2EEE0; 
                }
            }
            .item__desc {
                // padding-top: 5px;
                // padding-bottom: 5px;
                // border-top: 1px solid rgba(242, 238, 224, 1);
                // border-bottom: 1px solid rgba(242, 238, 224, 1);
                font-family: 'Inter', sans-serif;
                font-weight: 400;
                font-size: 14px;
                line-height: 23px;
                text-align: center;
                color: #F2EEE0;
                
            }
            .read__more {
                margin-top: 5px;
                padding-top: 5px;
                padding-bottom: 5px;
                margin-bottom: 10px;
                a {
                font-family: 'Inter', sans-serif;
                font-weight: 400;
                font-size: 14px;
                line-height: 16px;
                text-align: center;
                color: #F2EEE0;
                text-transform: uppercase;
                }
            }

            
    
            hr {
                width: 100%;
                height: 1px;
                background-color: #F2EEE0;
                border: none;
                margin-top: 5px;
                margin-bottom: 5px;
            }
           
    
        }

        .education__item__inform {
            display: none;
            position: absolute;
            bottom: 10px;
            top: 10px;
            left: 10px;
            right: 10px;
            // display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            border: 1px solid rgba(242, 238, 224, 1);
            .information {
                position: relative;
                margin-top: 20px;
                font-family: 'Inter', sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px; 
                text-align: center;            
                color: #F2EEE0;
                div {
                    text-align: left;
                    margin-left: 30px;
                }
                ul {
                    padding-left: 20px;
                    margin-top: 5px;
                    margin-left: 10px;
                    li {
                        text-align: left;
                    }
                } 

                
                .read__more__back {
                    text-align: center;
                    margin-left: 0;
                    
                }
                .read__more__back__udemy {
                    top: 290px;
                }
               

            }
            .read__more__back {
                position: absolute;
                bottom: 0;
                left: 85px;
                margin-top: 10px;
                padding-top: 5px;
                padding-bottom: 5px;
                margin-bottom: 10px;
                text-align: center;
                a {
                font-family: 'Inter', sans-serif;
                font-weight: 400;
                font-size: 14px;
                line-height: 16px;
                text-align: center;
                color: #F2EEE0;
                text-transform: uppercase;
                }
            }
           
        }
        .education__item__inform_active {
            display: block;
        }

    }
     
   
    @media (max-width: 1440px) {
        
        .container {
            width: 1200px;
        }
    }

    @media (max-width: 1024px) {
       .education__title__main {
        padding-top: 50px;
       }
        .container {
            width: 800px;
        }
        .education__content {
            margin-top: 40px;
        }
    }
    @media (max-width: 768px) {
        .education {
            padding-top: 50px;
        }
        .container {
            width: 600px;
        }
        .education__title__main__top {
            font-size: 60px;
            transform: translateX(-30px);
        }

        .education__title__main__bottom {
            font-size: 80px;
        }


        .education__content {
            flex-direction: column;
        }
       
    }
    @media (max-width: 425px) {

        .education {
            padding-top: 10px;
            padding-bottom: 50px;
        }

        .education__title__main__top {
            font-size: 40px;
            transform: translateX(-20px);
        }

        .education__title__main__bottom {
            font-size: 50px;
            line-height: 60px;
        }

        .education__content {
            align-items: center;        }
        .container {
            width: 400px;
        }
        .slick-list {
            width: 300px;
        }
}
}